---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Video } from "../../lib/contentful";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Video>({
    content_type: "video",
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      description: documentToHtmlString(item.fields.description),
      video: item.fields.video,
    },
  }));
  return pages;
}

const { title, description, video } = Astro.props;

console.log(video.fields.file)
---
<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <video src={video.fields.file.url}></video>
    <article set:html={description} />
  </body>
</html>