---
import { Image } from 'astro:assets';
import logo from '../img/NH_Logo.svg'
---

<footer >
  <Image src={logo} alt="NoiseHeroes Logo"/>
<p class="text-lg md:text-2xl pt-5">
  noiseheroes srl / p.iva 1234567890 / via giuseppe frua, 12 - 20146 milano /
  <a href="mailto:info@noiseheroes.it">info@noiseheroes.it</a>
   / +39 024986147 /  
   <a href="">instagram</a> /
   <a href="">linkedIn</a> /
   <a href="">facebook</a> /
   <a href="">youtube</a> /
   <a href="">vimeo</a> /
   <a href="">privacy  & cookies</a> 
</p>
</footer>

