---
import { Image } from 'astro:assets';
import logo from '../img/NH_Logo.svg'
---

<footer >
  <Image src={logo} alt="NoiseHeroes Logo"/>
<p class="text-lg md:text-2xl pt-5">
  noiseheroes / via giuseppe frua, 12 - 20146 milano /
  <a href="mailto:hello@noiseheroes.com ">hello@noiseheroes.com </a>
   / +39 02 36706244 /  
   <a href="https://www.instagram.com/noiseheroes/">@noiseheroes</a> /
</p>
</footer>

