---
import Social from './Social.astro';
---

<style>
    footer {
      display: block;
      gap: 1rem;
      margin-top: 2rem;
    }

    .footer-logo{
    font-size: 20em;
    line-height: 1em;
    }
  </style>

<footer transition:animate>

  <!-- ! Mettere SVG -->
  <p class="  font-display footer-logo">NOISE HEROES</p>
<p>
  via giuseppe frua, 12 - 20146 Milano / luca@noiseheroes.it / +39 024986147 /  Instagram / Facebook / LinkedIn / Privacy  & Cookies
</p>

    <!-- <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" /> -->
</footer>

