---
import { Image } from 'astro:assets';

import Social from './Social.astro';

import logo from '../img/NH_Logo.svg'
---

<style>
    footer {
      display: block;
      gap: 1rem;
      margin-top: 2rem;
    }

    .footer-logo{
    font-size: 20em;
    line-height: 1em;
    }
  </style>

<footer >
  <Image src={logo} alt="A bird sitting on a nest of eggs."/>
<p class="text-lg md:text-2xl pt-5">
  noiseheroes srl / p.iva 1234567890 / via giuseppe frua, 12 - 20146 milano / info@noiseheroes.it / +39 024986147 /  instagram / linkedIn / facebook / youtube / vimeo / privacy  & cookies
</p>

    <!-- <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" /> -->
</footer>

