---
import { Image } from 'astro:assets';
import logo from '../img/NH_Logo.svg'
---

<footer >
  <Image src={logo} alt="NoiseHeroes Logo" class:list={'w-full'}/>
<p class="text-lg md:text-2xl pt-5">
  Sound Design & Post Production / Music Production / Music Supervision & Licensing / 
  <a href="https://maps.app.goo.gl/BHvGe4oFnn39MvJNA" target="_blank" class="hover:text-orange" >
    via Giuseppe Frua, 12 - 20146 Milano 
  </a>
  /
  <a href="mailto:hello@noiseheroes.com" class="hover:text-green">hello@noiseheroes.com </a>
   / +39 02 36706244 /  
   <a href="https://www.instagram.com/noiseheroes/" target="_blank" class="hover:text-orange" >@noiseheroes</a>
</p>
</footer>
