---
import {Image} from 'astro:assets';
import logo from "../img/NH_Logo.svg"
//! Temporaneamente tolto anchor da href
// const {anchor} = Astro.props;
---

<header>
    <nav>
        <a id="logo" href={"/"}  class="fixed z-30 pt-4 px-4 w-36 md:w-56">
            <Image src={logo} alt="NoiseHeroes Logo" class:list={'w-full'}/>
          </a>
    </nav>
</header>