---
---
<div id="wordContainer" class="floater  font-display uppercase text-7xl"></div>


<script>
  import gsap from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

    // Array of words
let words = ["BOOOOOM!", "CLAPCLAP!", "SBANG!", "OOOH!", "WOW!", "LOL!"];
let wordsColor = ["text-orange", "text-green"];

// Get a reference to the container
let container = document.getElementById('wordContainer');

// Function to generate a random number
function getRandomNumber(min, max) {
  return Math.random() * (max - min) + min;
}

// Loop through the words
for (let i = 0; i < words.length; i++) {
  // Create a new span element for each word
  let newWord = document.createElement('span');
  
  // Set the text of the span to the word
  newWord.innerText = words[i];
  
  // Generate random positions for the top and left properties
  let randomTop = getRandomNumber(400, document.body.scrollHeight/2 );
  let randomLeft = getRandomNumber(0, window.innerWidth - 250);
  let randomColor = wordsColor[Math.round(getRandomNumber(0, 1))];
  let randomRotation = Math.round(getRandomNumber(-30, 30));
  
  // Set the CSS properties
  newWord.style.position = 'absolute';
  newWord.style.top = randomTop + 'px';
  newWord.style.left = randomLeft + 'px';
  newWord.style.transform ="rotate("+ randomRotation + "deg)";
  newWord.classList.add("floating-word");
  newWord.classList.add(randomColor);
  
  // Add the new span element to the container
  container.appendChild(newWord);
}

// GSAP for Parallax
gsap.registerPlugin(ScrollTrigger);

gsap.to(".floating-word", {
  y: (i, el) => (1 - gsap.utils.random(.1, .8)) * ScrollTrigger.maxScroll(window),
  ease: "none",
  scrollTrigger: {
    start: "top center",
    end: "max",
    invalidateOnRefresh: true,
    scrub: 0,
    markers: 0,
  }
});

</script>