---
const {service} = Astro.props;

const serviceName = service.name;
const subServ  = service.subServ;
---

<div class="service-list">
    <h3 class="inline text-green">
        {serviceName}
    </h3>
    { subServ.map((serv) =>
    <span class="service">
        <span class="service-name cursor-pointer">
            {serv.name}
        </span>
        <span class="service-desc hidden">
            {serv.desc}
        </span>
    </span>
    )}
</div>

