---
const {service} = Astro.props;

const serviceName = service.name;
const subServ  = service.subServ;
---

<div class="service-list">
    <h3 class="inline">
        {serviceName}
    </h3>
    { subServ.map((serv) =>
    <span class="service">
        <span class="service-name cursor-pointer">{serv.name}
            <span class="service-icon material-symbols-outlined">
                north_east
            </span>
        </span>
        <span class="service-desc hidden">
            {serv.desc}
        </span>
    </span>
    )}
</div>

