---

import VideoInfo from '../components/VideoInfo.astro';

import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Video } from "../lib/contentful";

const entries = await contentfulClient.getEntries<Video>({
  content_type: "video",
});

const posts = entries.items.map((item) => {
  const { title, slug, video, description } = item.fields;
  return {
    title,
    slug,
    video,
    description : documentToHtmlString(description),
  };
});

console.log(posts[0].video);

---
   <ul class="video-list grid gap-5 pb-5">
    {posts.map((post) => (
        <li>
    <VideoInfo title={post.title} videoUrl={post.video.fields.file.url} description={post.description} slug={post.slug} />
          </li>
      ))}
    </ul>

    <script>
      // import "../scripts/vimeoCards.js";
    </script>