  ---
  const {vimeoUrl, title} = Astro.props;
  ---

  <astro-vimeo data-url={vimeoUrl} data-title={title} >
      
      <div id={title} class="video-wrapper relative ">
        <!-- <button class="play-button absolute top-5 right-5 z-10">PLAY</button>
        <button class="mute-button absolute top-10 right-5 z-10">MUTE</button> -->
        
        <p class="vimeo-title transition-opacity duration-500 ease-in-out absolute top-5 left-5 z-10">{title}</p>
      </div>
  </astro-vimeo>


  <script>

  // Define the behaviour for our new type of HTML element.
    class AstroVimeo extends HTMLElement {
      constructor() {
        super();

        const url = this.dataset.url;
        const title = this.dataset.title;

        const options = {
          url: url,
          loop: true,
          portrait:0,
          muted:0,
          autoplay:0,
          autopause:1,
          title:0,
          controls:0,
          responsive: 1,
          width: 480
      };

      const player = new Vimeo.Player(title, options);
      let isPlaying = false;

     const playButton = this.querySelector('button.play-button');
     const muteButton = this.querySelector('button.mute-button');

     
     const vimeoContent = this.querySelector('div.video-wrapper');
     vimeoContent.addEventListener("click", () => {
       isPlaying ? player.pause() :  player.play();
       isPlaying = !isPlaying;
      });

      player.on('play', function() {
         console.log('played the video!');
         isPlaying = true;
 
       });
 
       player.on("pause", function () {
       console.log("stop the video!");
       isPlaying = false;
 });

//       playButton.addEventListener("click", () => {
//         isPlaying ? player.pause() :  player.play();
//         playButton.innerHTML = isPlaying ? "PLAY" : "PAUSE";
//         isPlaying = !isPlaying;     
// });

//       muteButton.addEventListener("click", () => {
//         if(muteButton.innerHTML == "MUTE" ){

//           player.setVolume(0);
//           muteButton.innerHTML = "UNMUTE"; 
//         }
//         else{
//           player.setVolume(1);
//           muteButton.innerHTML = "MUTE"; 

//         }
// });
    }
  }
    // Tell the browser to use our AstroVimeo class for <astro-vimeo> elements.
    customElements.define('astro-vimeo', AstroVimeo);
  </script>

  <style>

    
      .video-wrapper iframe {
        width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
      }

      .video-wrapper::after {
  content:"";
  position:absolute;
  z-index:4;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
  </style>