---
import RandomWords from '../components/RandomWords.astro';
// import RandomWords from '../components/RandomWords.jsx';
import RandomHeroes from '../components/RandomHeroes.astro';

import MainLayout from './MainLayout.astro'
import { Image } from 'astro:assets';
import logo from '../img/NH_Logo.svg'
import '../styles/global.css';
const {pageTitle} = Astro.props;
---
<MainLayout {pageTitle}>

    <!-- <button id="globalMuteToggle"  class="material-symbols-outlined hidden md:block transition-all duration-300 ease-in">
        volume_off
    </button> -->
    
    <!-- <RandomWords defer/> -->
    <!-- <RandomHeroes defer/> -->
    
    <main id="home" class="mainContainer">
      <a href="/#home" id="logo" class="fixed z-30 pt-4 pr-4 ">
        <Image src={logo} alt="NoiseHeroes Logo" class:list={'w-full'}/>
      </a> 
      <slot />
    </main>
    
  <style>
    body {
      padding: 0rem 1rem;
    }
  </style>

 
</MainLayout>