---
import MainLayout from './MainLayout.astro'
import '../styles/global.css';
const {pageTitle} = Astro.props;
---
<MainLayout {pageTitle}>
   <div id="heroContainer" class="floater w-1/4 op absolute right-10" />
   <div id="wordContainer" class="floater font-display uppercase text-9xl"></div>

    <slot />
    
  <style> 
    body {
      padding: 0rem 1rem;
    }
  </style>
</MainLayout>