---
import RandomWords from '../components/RandomWords.astro';
// import RandomWords from '../components/RandomWords.jsx';
import RandomHeroes from '../components/RandomHeroes.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import logo from '../img/NH_Logo.svg'
import '../styles/global.css';
const {pageTitle} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="https://use.typekit.net/kyb3jfx.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body class="grid content-center h-screen">
    <script is:inline type="text/javascript" src="https://player.vimeo.com/api/player.js"></script>
   <script>

     import "../scripts/gsap.js";
   </script>
    <!-- <button id="globalMuteToggle"  class="material-symbols-outlined hidden md:block transition-all duration-300 ease-in">
        volume_off
    </button> -->
    
    <!-- <RandomWords defer/> -->
    <!-- <RandomHeroes defer/> -->
    
    <!-- <a href="#home" id="logo" class="fixed z-30 pt-4 pr-4 ">
      <Image src={logo} alt="NoiseHeroes Logo" class:list={'w-full'}/>
    </a> 
    <div id="home" class="mainContainer">
      <slot />
    </div> -->
      <Footer />

  <!-- <style>
    body {
      padding: 0rem 1rem;
    }
  </style> -->

  <script>
    import "../scripts/services.js";
    import "../scripts/lottie_audio.js";
    // import "../scripts/gsap.js";
  </script>
  </body>
</html>