---
import MainLayout from './MainLayout.astro'
import Footer from '../components/Footer.astro';

import '../styles/global.css';
const {pageTitle} = Astro.props;
---
<MainLayout {pageTitle}>
   <!-- <div id="wordContainer" class="floater font-display uppercase text-9xl"></div> -->

    <slot />

    <!-- <div class="h-screen grid content-end">
      <Footer>                    
   </div> -->
    
  <style> 
    body {
      padding: 0rem 1rem;
    }
  </style>
</MainLayout>