---
import RandomWords from '../components/RandomWords.astro';
// import RandomWords from '../components/RandomWords.jsx';
import RandomHeroes from '../components/RandomHeroes.astro';

import Header from '../components/Header.jsx';

import MainLayout from './MainLayout.astro'
import { Image } from 'astro:assets';
import logo from '../img/NH_Logo.svg'
import '../styles/global.css';
const {pageTitle} = Astro.props;
---
<MainLayout {pageTitle}>

    <!-- <button id="globalMuteToggle"  class="material-symbols-outlined hidden md:block transition-all duration-300 ease-in">
        volume_off
    </button> -->
    
    <!-- <RandomWords defer/> -->
    <!-- <RandomHeroes defer/> -->
  
     
      <slot />
    
  <style>
    body {
      padding: 0rem 1rem;
    }
  </style>

 
</MainLayout>