---
import '../styles/global.css';
import '../styles/transitions.css';
import Footer from '../components/Footer.astro';
const {pageTitle, anchor} = Astro.props;

import { Image } from 'astro:assets';
import logo from '../img/NH_Logo.svg'


---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.ico" />
    <link rel=icon href=/favicons/favicon-16x16.png sizes="16x16" type="image/png">
    <link rel=icon href=/favicons/favicon-32x32.png sizes="32x32" type="image/png">
    <link rel=icon href=/favicons/android-chrome-192x192.png sizes="192x192" type="image/png">
    <link rel=icon href=/favicons/android-chrome-512x512.png sizes="512x512" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="https://use.typekit.net/kyb3jfx.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
    <body>  
      <main id="swup" class="mainContainer transition-main">
      <header id="home" class=" h-screen" data-swup-update >
        <div id="logo_container" class="fixed z-30 py-4 pr-8 bg-black w-full" > 
          <a href="#home" id="logo" class="relative text-left" style="opacity: 0;">
            <Image src={logo} alt="NoiseHeroes Logo" class:list={'w-full'}/>
          </a>
        </div>
      </header>
<!-- <button id="globalMuteToggle"  class="material-symbols-outlined hidden md:block transition-all duration-300 ease-in">
        volume_off
    </button> -->
        <slot />
        <Footer>                      
      </main>   
    </body>
    <script>
      import "../scripts/gsap.js"
    </script>
</html>