---
import MainLayout from './MainLayout.astro'

import Header from '../components/Header.astro';
import '../styles/global.css';
const {pageTitle} = Astro.props;
---
<MainLayout {pageTitle}>

    
  <main class="mainContainer">
      <Header/>
      <slot />
    </main>
  

    <style>
        body {
          padding: 0rem;
        }
      </style>

  <script >
    // import "../scripts/services.js";
    // import "../scripts/lottie_audio.js";
    // import "../scripts/gsap.js";
  </script>
</MainLayout>